@import "tailwindcss";

@theme {
    --color-PR200: #e2ecfe;
    --color-PR300: #b6d1fb;
    --color-PR400: #88b2f9;
    --color-PR500: #6099f7;
    --color-PR600: #387ff5;
    --color-PR700: #2d66c4;
    --color-PR800: #224c93;

    --color-N0: #ffffff;
    --color-N100: #f5f7fa;
    --color-N200: #eceef4;
    --color-N300: #d2d5e2;
    --color-N400: #b6bccd;
    --color-N500: #9ea5bd;
    --color-N600: #79829f;
    --color-N700: #626981;
    --color-N800: #4b5162;
    --color-N900: #343844;
    --color-N1000: #1c1f25;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    html,
    body {
        @apply font-display text-base;
    }
}
